{% extends 'MainBundle::layout-login.html.twig' %}

{% block content %}
    <div id="connexion">
        <div class="login">
            <div class="top">
                <img role="banner" src="{{ asset('assets/images/Logo-HU-St-Louis-RVB.png') }}"
                     alt="Un site utilisant Réseau HU Paris 10">
                <b>Entrez votre identifiant AP-HP et votre mot de passe.</b>
            </div>
            <div class="form">
                <hr />
                <form class="form-horizontal" action="" method="post">
                    <div class="form-group">
                        <label for="login" class="col-sm-4 control-label">Identifiant</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control input-sm field s" id="login" name="login" autofocus placeholder="Code APHP" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-4 control-label">Mot de passe</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control input-sm field s" id="password" name="password" autocomplete="off" placeholder="Mot de passe" required>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="stay_connected" type="checkbox"><span>Rester connecté pour la journée</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-default">Se connecter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
