/web/bundles/
/web/assets/css/*
/web/assets/js/*.min.js
/web/assets/js/*.min.js.map
/web/assets/bower_components/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
npm-debug.log
node_modules
npm-debug.log.*