/web/bundles/
/web/assets/css/*
/web/assets/js/*.min.js
/web/assets/js/*.min.js.map
/web/assets/bower_components/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters_env.yml
/app/config/parameters_env.yml.dist
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
npm-debug.log
node_modules
npm-debug.log.*
/composer.phar
.svn
_svn
.CVS
.arch-params
.bzr
_darcs
.hg
.monotone
.svn
_svn
*.DS_Store
__MACOSX
.directory
.settings
.buildpath
.project
.cache
.idea
nbproject
.netbeans
catalog.xml
*.geany
*.psd
*~
cache.properties
/.sass-cache/*
*.swp