parameters:
    locale:            fr

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    api_cache: true

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
