<!-- Footer -->
<div class="col-md-12" style="background-color:#b5d1d5 ">
<div id="footer-copyright">
    <div class="wrapper">
        <p>Données nécessaires aux indicateurs de qualité dans le soin du cancer du sein <br/> Forms <a href="{{ forms_api_url }}">API</a> Client  <a id="footer-logo" href="http://ghparis10.aphp.fr/"><span aria-hidden="true" class="icon-aphp-logo"></span>AP-HP</a></p>
    </div>
</div>
<button class="back-to-top" title="Retour en haut de page"><span aria-hidden="true" class="icon-caret-up"></span></button>
</div>
